                    <div class="section" data-anchor="footer_section">
                    <ul class="social_buttons">
                        <li><a href="https://ca.linkedin.com/in/pranav-kural-861623113"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>   
                        <li><a href="https://twitter.com/pranav_kural"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="http://github.com/ifotn"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
                        <li><a href="http://stackoverflow.com/users/5834653/pranav-kural"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
                    </ul>
                    <footer class="navbar navbar-default">
                            <div class="container">
                                <div class="text-center">
                                    <h3>Made with 💗 by Pranav Kural</h3>
                                </div>
                            </div>
                    </footer>     
                </div>
            </div>   
        </div>
        <!-- 3rd party script files -->
        <script src="/javascripts/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/javascripts/vendors/jquery.fullpage.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#fullpage').fullpage();
            });
        </script>    
    </body>
</html>