<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Pranav Kural" />
	<meta name="description" content="My portfolio website" />
	<meta name="keywords"  content="pranav, kural, pranav-kural, portfolio, web" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> - Pranav Kural</title>
    
    <!--  3rd party stylesheets and fonts -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendors/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Lato|Satisfy|Raleway" rel="stylesheet">
    <!-- website stylesheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="container-fluid">
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div id="title_bar" class="row">
                    <h1 class="title">Pranav • Kural</h1>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="<% if (title == "Home") { %>active<% } %>"><a href="/">Home</a></li>
                        <li class="<% if (title == "About Me") { %>active<% } %>"><a href="/about">About Me</a></li>
                        <li class="<% if (title == "Projects") { %>active<% } %>"><a href="/projects">Projects</a></li>
                        <li class="<% if (title == "Services") { %>active<% } %>"><a href="/services">Services</a></li>
                        <li class="<% if (title == "Contact Me") { %>active<% } %>"><a href="/contact">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="fullpage">