<% include ./partials/header.ejs %>
    <div class="section" data-anchor="about_landing">
        <div class="row">
            <div class="col-xs-12">
                <h1>About Me</h1>
            </div>
            <div class="col-xs-3"></div>
                <div class="col-xs-6 about_para">
                    I focus on producing something that holds strong on client’s expectations and augment high quality code that solves real world problems. I believe in learning new technologies and expanding the knowledge base consistently, exploring new and more effective ways of achieving the goals, and value the use of modern development tools and design techniques, which are reflected through all my projects. Some of my skills are as follows:
                </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
    <div class="section">
        <div id="skills_list">
                <div class="about_para">
                <ol>
                    <li>JavaScript
                        <ul>
                            <li>Developing full fledged JS web and mobile applications</li>
                            <li>JQuery, JQuery UI, CoffeScript and TypeScript</li>
                            <li>SPA frameworks based on MVC - AngularJS, Angular 2, ReactJS, Meteor JS</li>
                            <li>JavaScript testing, debugging and development tools like JShint, Gulp and Grunt</li>
                        </ul>
                    </li>
                    <li>HTML & CSS
                        <ul>
                            <li>HTML5 hybrid application development</li>
                            <li>CSS3 and CSS preprocessors – SASS, Compass (SCSS), LESS CSS and Stylus</li>
                            <li>CSS frameworks – Bootstrap, Zurb Foundation, Semantic-UI, Materialize CSS and Uikit</li>
                            <li>Responsive web design</li>
                        </ul>
                    </li>

                    <li>PHP, Laravel, Symfony
                        <ul>
                            <li>PHP functional as well as object-oriented development</li>
                            <li>Laravel, cakephp and CodeIgniter</li>
                            <li>PHP ORM frameworks – PHP ActiveRecord</li>
                        </ul>
                    </li>
                </ol>
            </div>
            </div>
            <i class="fa fa-chevron-down" aria-hidden="true" style="margin-top: 2em"></i>
        </div>
    <div class="section" data-anchor="software_skills">
        <div id="skills_list">
                <div class="about_para">
                    <ol start="4">
                    <li>Java
                        <ul>
                            <li>OOPs concepts – Encapsulation, polymorphism and inheritance.</li>
                            <li>File I/O, serialization, multithreading and exception handling</li>
                            <li>GUI development with Java Swing and Java FX</li>
                            <li>Java Spring MVC and Java Server Pages development</li>
                        </ul>
                    </li>
                    <li>ASP.NET MVC, C#, VIsual Basic</li>
                    <li>NodeJS, ExpressJS, MeteorJS</li>
                    <li>MEAN stack</li>
                    <li>WordPress
                        <ul>
                            <li>WordPress development – Themes and plugins development, and content management</li>
                        </ul>
                    </li>
                    <li>MySql, MongoDB, DB2</li>
                    <li>System Development Life Cycle</li>
                    <li>Mainframe
                        <ul>
                            <li>COBOL Programming language</li>
                            <li>JCL Programming</li>
                        </ul>
                    </li>
                </ol>
                </div>
                </div>
            </div>
<% include ./partials/footer.ejs %>