<% include ./partials/header.ejs %>
    <div class="section">
        <div class="centero_pallet">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="color: #fff; padding-bottom: 1%;">Web projects</h1>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                <img src="/images/projects/sdlc.PNG" alt="System Development Life Cycle">
                <div class="caption">
                    <h3>System Development Life Cycle</h3>
                    <p>An online platform to learn Systems Development Life Cycle in a fun way. </p>
                    <p><a href="http://gc200333253.computerstudi.es/teamNoClue/" class="btn btn-primary" role="button">Go to site</a></p>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                <img src="/images/projects/Webifiy.PNG" alt="Webifiy">
                <div class="caption">
                    <h3>Webifiy</h3>
                    <p>An ultimate directory for all the amazing online e-commerce stores.</p>
                    <p><a href="http://gc200333253.computerstudi.es/webifiy/" class="btn btn-primary" role="button">Go to site</a></p>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="section">
        <div class="centero_pallet">
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail">
                <img src="/images/projects/tribute_page.PNG" alt="Tribute Page - Dr. Norman Borlaug">
                <div class="caption">
                    <h3>Tribute Page - Dr. Norman Borlaug</h3>
                    <p>Tribute page as per the FreeCodeCamp curriculum</p>
                    <p><a href="http://gc200333253.computerstudi.es/Tribute_page/" class="btn btn-primary" role="button">Go to site</a></p>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                <img src="/images/projects/my_barrie_examiner.PNG" alt="My Barrie Examiner">
                <div class="caption">
                    <h3>My Barrie Examiner</h3>
                    <p>My Barrie Examiner is a highly interactive news website build to demonstrate my web design and development skills</p>
                    <p><a href="http://gc200333253.computerstudi.es/my-barrie-examiner/" class="btn btn-primary" role="button">Go to site</a></p>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
<% include ./partials/footer.ejs %>