<% include ./partials/header.ejs %>
    <div class="section">
        <div id="center_pallet">
<h2 style="color: white">Services</h2>

<ul class="list-group">
    <li class="list-group-item btn-primary">Web Development</li>
    <li class="list-group-item btn-default">Web Design</li>
    <li class="list-group-item btn-primary">Systems Analysis</li>
    <li class="list-group-item btn-default">Software Development</li>
    <li class="list-group-item btn-primary">WordPress training</li>
    <li class="list-group-item btn-default">Mainframe Services</li>
</ul>
    
    </div>
    </div>
<% include ./partials/footer.ejs %>