body {
  background: url('/images/diamond_abstract.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-size: 1em;
  text-align: center;
}
